<app-header></app-header>
<div class="dashboard-container text-light">
  <!-- HEADER -->
  <div class="container-fluid px-5">

    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h2 class="fw-bold">Preselección de Candidatos</h2>
        <p class="text-secondary">
          Gestión de hojas de vida, entrevistas y filtros de perfil
        </p>
      </div>

      <div class="date-box">
        20 Abril 2026
      </div>
    </div>

    <!-- CARDS -->
    <div class="row g-4">

      <div class="col-md-3">
        <div class="dashboard-card text-center">
          <div class="icon blue">📄</div>
          <h3>Pendientes</h3>
          <h1>{{ enEvaluacion }}</h1>
        </div>
      </div>

      <div class="col-md-3">
        <div class="dashboard-card text-center">
          <div class="icon yellow">⏰</div>
          <h3>Entrevista</h3>
          <h1>{{ enEntrevista }}</h1>
        </div>
      </div>

      <div class="col-md-3">
        <div class="dashboard-card text-center">
          <div class="icon green">✅</div>
          <h3>Aprobados</h3>
          <h1>{{ aprobados }}</h1>
        </div>
      </div>

      <div class="col-md-3">
        <div class="dashboard-card text-center">
          <div class="icon red">❌</div>
          <h3>Rechazados</h3>
          <h1>{{ descartados }}</h1>
        </div>
      </div>

    </div>

    <!-- SEARCH + FILTERS -->
    <div class="row mt-4">

      <div class="col-md-15">
        <input
          type="text"
          class="form-control custom-input"
          placeholder="Buscar candidato..."
        >
      </div>
    </div>

    <!-- TABLE + DETAIL -->
    <div class="row mt-4 g-4">

      <!-- TABLE -->
      <div class="col-md-8">
        <div class="table-card">

          <h3 class="fw-bold mb-4">Estado de afiliaciones</h3>

          <table class="table table-dark table-borderless align-middle">
            <thead>
              <tr>
                <th>Candidato</th>
                <th>Cargo</th>
                <th>Exp</th>
                <th>Puntaje</th>
                <th>Estado</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let candidate of listCandidates">
                <td>{{ candidate.nombre }}</td>
                <td>{{ candidate.cargo }}</td>
                <td>{{ candidate.experiencia }}</td>
                <td class="text-success">{{ candidate.puntaje }}%</td>
                <td>
                  <span
                    class="badge"
                    [ngClass]="{
                      'bg-primary': candidate.estado == 'Entrevista',
                      'bg-warning text-dark': candidate.estado == 'Pendiente',
                      'bg-success': candidate.estado == 'Aprobado',
                      'bg-danger': candidate.estado == 'Rechazado'
                    }">
                    {{ candidate.estado }}
                  </span>
                </td>
                <td>
                  <button class="btn btn-sm btn-outline-light" (click)="viewCandidate(candidate)">Ver</button>
                  <button class="btn btn-sm btn-outline-light" (click)="editCandidate(candidate)">Editar</button>
                  <button class="btn btn-sm btn-outline-light" (click)="deleteCandidate(candidate.id)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <!-- DETAIL CARD -->
      <div class="col-md-4">
        <div class="detail-card" *ngIf="selectedCandidate">
          <h4 class="fw-bold">Detalle {{ selectedCandidate.nombre }}</h4>
          <p class="text-secondary">{{ selectedCandidate.correo }}·{{ selectedCandidate.experiencia }} año(s) exp.</p>
          <div class="progress mb-3">
            <div class="progress-bar bg-success" [style.width.%]="selectedCandidate.puntaje"></div>
          </div>

          <ul class="list-unstyled">
            <li>✔ Educación</li>
            <li>✔ Experiencia</li>
            <li>⚠ Certificaciones</li>
            <li>✔ Antecedentes</li>
          </ul>

          <textarea class="form-control custom-input mt-3" rows="4"> {{ selectedCandidate.descripcion || 'Sin descripción' }}</textarea>
          <div class="d-flex gap-2 mt-3">
            <button class="btn btn-success w-100" (click)="changeStatus('Aprobado')">Aprobar</button>
            <button class="btn btn-danger w-100" (click)="changeStatus('Rechazado')">Rechazar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>