<p>student-table works!</p>
<table class="table">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Edad</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    <tbody>
        <tr *ngFor="let students of infoStudents">
            <th scope="row">{{students.id}}</th>
            <td>{{students.nombre}}</td>
            <td>{{students.edad}}</td>
            <td><button class="btn btn-warning" (click)="openEdit(students)">Editar</button></td>
            <td><button class="btn btn-danger" (click)="deleteStudent(students.id)">Eliminar</button></td>
        </tr>
    </tbody>
</table>
